<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="Description" content="Information architecture, Web Design, Web Standards." />
    <meta name="Keywords" content="your, keywords" />
    <meta name="Distribution" content="Global" />
    <!-- <meta name="Robots" content="index,follow" /> -->

    <%= stylesheet_link_tag "normalize", "PixelGreen" %>
    <%= javascript_include_tag "all" %>
    <title><%= current_page.data.title + ' - TCSW2013' || 'TCSW2013' %></title>

  </head>

  <body>
    <!-- wrap starts here -->
    <div id="wrap">
      <div id="header">
        <div id="header-content">
          <h1 id="logo"><%= link_to t('title'), 'index.html' %></h1>
	  <h2 id="slogan"><%= t('slogan') %>&nbsp;<%= t('date') %></h2>
	  <ul>
<% if false %>
	    <% splitted = current_page.path.split( /\// ) %>
	    <% if splitted.include?( 'ja' ) %>
	      <li><%= link_to t('link.lang'), set_prefix( File.join( t('link.langpath' ), splitted.reject! {|p| p == "ja" }.join('/') ) ) %>
	    <% else %>
              <li><%= link_to t('link.lang'), set_prefix( File.join( t('link.langpath'), current_page.url ) ) %></li>
	    <% end %>
<% end %>
            <li><%= link_to t('link.lang'), set_prefix( t('link.langpath') ) %></li>
          </ul>
        </div>
      </div>

      <div class="headerphoto"></div>

      <!-- content-wrap starts here -->
      <div id="content-wrap">
        <div id="content">
	  <div id="sidebar" >
	    <div class="sidebox">
	      <ul class="sidemenu">
                <li><%= link_to t('link.top'), 'index.html', {:class=>"top"} %></li>
                <li><%= link_to t('link.program'), 'program.html' %></li>
                <li><%= link_to t('link.registration'), 'https://docs.google.com/forms/d/1rQHFUS7zrWN3Q-13oMUPo4hXnIm0LkBksKZ6EEkLaXA/viewform', { :target=>'_blank' } %></li>
                <li><%= link_to t('link.access'), 'access.html' %></li>
                <li><%= link_to t('link.org'), 'org.html' %></li>
	      </ul>
	    </div>

	    <div class="sidebox">
	      <h1><%= t('link.about') %></h1>
              <p><%= t('about_tcsw') %></p>
	    </div>

	    <div class="sidebox">
	      <h1 class="clear"><%= t('link.links') %></h1>
	      <ul class="sidemenu">
		<li><%= link_to t('link.utkb'), 'http://www.tsukuba.ac.jp/', { :target => '_blank' } %></li>
		<li><%= link_to t('link.csd'), 'http://www.cs.tsukuba.ac.jp/', { :style=>'font-size:small;', :target => '_blank' } %></li>
	      </ul>
	    </div>

	  </div>

	  <div id="main">
            <%= yield %>
	  </div>

	  <!-- content-wrap ends here -->
        </div>
      </div>

      <!-- footer starts here -->
      <div id="footer">
        <div id="footer-content">
          <div>
            <p>&copy; 2013 <%= t('footer.copyright') %><br />
	      <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
	    </p>
          </div>
        </div>
      </div>
      <!-- footer ends here -->

      <!-- wrap ends here -->
    </div>

  </body>
</html>
