---
title: Top
---

<div>
  <h1><%= t('slogan') %></h1>
  <p><%= t('top.abstract') %></p>
  <p><%= t('top.theme') %></p>
  <ul>
    <li><%= t('date') %></li>
    <%# <li><%= t('time') %></li>
    <li><%= t('location') %></li>
  </ul>
</div>
