---
title: Top
---

<div>
  <h1><%= t('whats_new') %></h1>
  <% data.whatsnew.each do |date,entry| %>
    <% current = entry[I18n.locale.to_s] %>
    <h2><%= date %></h2>
    <p>
      <%= current.text %>
      <% if current.link %>
	<%= link_to current.link.title, current.link.url %>
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <h1><%= t('slogan') %></h1>
  <p><%= t('top.abstract') %></p>
  <p><%= t('top.theme') %></p>
  <ul>
    <li><%= t('date') %></li>
    <%# <li><%= t('time') %></li>
    <li><%= t('location') %></li>
  </ul>
</div>
