---
title: Program
---

<div>
  <h1><%= t('link.program') %></h1>

  <% data.program.each do |session,talks| %>
    <h2><%= session %></h2>
    <ul>
      <% talks.each do |id,talk| %>
	<% if talk %>
	  <li>
	    <%= talk.time %>
	    <ul>
	      <li><%= talk.title %> <%= talk.speaker %></li>
	      <% if talk.speaker %>
		<li><%= link_to 'speaker and talk info.', set_prefix( talk.url ) %></li>
	      <% end %>
	    </ul>
	  </li>
	<% end %>
      <% end %>
    </ul>
  <% end %>

</div>
