---
title: Program
---

<div>
  <h1><%= t('link.program') %></h1>
  <p><%= link_to t('program.booklet.title'), set_prefix( t('program.booklet.url') ) %></p>

  <% data.program.each do |session,talks| %>
    <h2><%= session %></h2>
    <% unless talks.first[1].nil? %>
      <table>
        <% talks.each do |id,talk| %>
          <% if talk %>
            <tr>
	      <td><%= talk.time %></td>
              <td>
                <% if talk.speaker %>
                  <%= link_to "#{talk.title} (by #{talk.speaker})", set_prefix( talk.url ) %>
                <% else %>
                  <%= talk.title %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  <% end %>

</div>
