---
title: Program
---

<div>
  <h1><%= t('link.program') %></h1>

  <h3><%= t('program.tbd' ) %></h3>
  <hr />

  <h2>Invited Speakers</h2>

  <% data.speakers.each do |type,speaker| %>
    <ul>
      <li>
	<%= speaker.prefix %>&nbsp;<%= speaker.name %>
	<ul>
	  <li><%= speaker.position %> at <%= speaker.affiliation %></li>
	  <li>
	    Keywords:
	    <ul>
	      <% speaker.keywords.each do |keyword| %>
		<li><%= keyword %></li>
	      <% end %>
	    </ul>
	  </li>
	</ul>
      </li>
    </ul>
  <% end %>
  
</div>
