---
title: Program
---

<div>
  <h1><%= t('link.program') %></h1>
  
  <table>
    <tr>
      <th class="first"><strong><%= t('program.th.time') %></strong></th>
      <th><strong><%= t('program.th.title') %></strong></th>
      <th><strong><%= t('program.th.speaker') %></strong></th>
    </tr>
    <tr class="row-a">
      <td class="first"><%= t('program.time.s1') %></td>
      <td><a href="#"><%= t('speaker.n1.title') %></a></td>
      <td><a href="#"><%= t('speaker.n1.name') %> (<%= t('speaker.n1.affil') %>)</a></td>
    </tr>
    <tr class="row-b">
      <td class="first"><%= t('program.time.s1') %></td>
      <td><a href="#"><%= t('speaker.n1.title') %></a></td>
      <td><a href="#"><%= t('speaker.n1.name') %> (<%= t('speaker.n1.affil') %>)</a></td>
    </tr>
    <tr class="row-a">
      <td class="first"><%= t('program.time.s1') %></td>
      <td><a href="#"><%= t('speaker.n1.title') %></a></td>
      <td><a href="#"><%= t('speaker.n1.name') %> (<%= t('speaker.n1.affil') %>)</a></td>
    </tr>
    <tr class="row-b">
      <td class="first"><%= t('program.time.s1') %></td>
      <td><a href="#"><%= t('speaker.n1.title') %></a></td>
      <td><a href="#"><%= t('speaker.n1.name') %> (<%= t('speaker.n1.affil') %>)</a></td>
    </tr>
  </table>
</div>
