---
title: Speakers
---

<div>
  <h1><%= t('link.speakers') %></h1>

  <ul>
    <% data.speakers.each do |type,speakers| %>
      <li>
	<%= type %>
	<ul>
	  <% speakers.each do |id, speaker| %>
	    <li><%= link_to "#{speaker.prefix} #{speaker.name}", "\##{type}_#{id}" %></li>
	  <% end %>
	</ul>
      </li>
    <% end %>
  </ul>

  <% data.speakers.each do |type,speakers| %>
    <% speakers.each do |id,speaker| %>
      <a name='<%= "#{type}_#{id}" %>'></a>
      <h1><%= "#{speaker.prefix} #{speaker.name}" %></h1>
      <table class="speaker">
        <tr>
          <td>Status</td>
          <td><%= "#{speaker.position} at #{speaker.affiliation}" %></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><%= speaker.title %></td>
        </tr>
        <tr>
          <td>Abstract</td>
          <td><%= speaker.abst %></td>
        </tr>
        <tr>
          <td>Biography</td>
          <td><%= speaker.bio %></td>
        </tr>
        <tr>
          <td>Keywords</td>
          <td><%= speaker.keywords.join( ', ' ) %></td>
      </table>
      <p class="backlink"><a href="#">&#9650; Back to top</a></p>
    <% end %>
  <% end %>

</div>
